{% extends 'layout.html.twig' %}

{% block content %}
    <header class="main-header container">
        <h1><small>Manage your website</small> {{ table|title }}</h1>
    </header>

    <div class="container">
        <div class="bread-crumb">
            <a class="catcher btn btn-small" href="{{path('logout')}}">Logout</a>
            <a href="/">Home</a> > <a href="{{path('administration_hub') }}">Administration Hub</a> > {{ table|title }}
        </div>
        <div class="row content-wrapper">
            <div class="main-content contact">
                <div class="row">
                    <div class="span12">
                        <a class="btn btn-inverse btn-large add-entry" href="{{ path('administration_edit', {'table': table, 'id': 'new'}) }}">Create a fresh new entry!</a>
                        <table class="table table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th></th>
                                {% for key,field in fields %}
                                    <th>{{ key }}</th>
                                {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                            {% for row in rows %}
                                <tr>
                                    <td><a class="btn btn-small btn-info" href="{{ path('administration_edit', {'table': table, 'id': row.id}) }}">Edit</a></td>
                                    {% for item in row %}
                                        <td>{% if item == "true" %}yes{% elseif item == false %}no{% else %}{{ item }}{% endif %}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <a class="btn btn-inverse btn-large add-entry" href="{{ path('administration_edit', {'table': table, 'id': 'new'}) }}">Create a fresh new entry!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}